html {
  /* This PNG is made by Tomislava Babić and taken from:
   * https://www.toptal.com/designers/subtlepatterns/?s=hip+square */
  background: url(../img/hip-square.png);
}

.section.is-jess-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background: inherit;
}

.section.is-jess-header h1 {
  font-size: 2rem;
  font-weight: 600;
}
