@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../vendor/montserrat/Montserrat-Regular.otf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../vendor/montserrat/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../vendor/montserrat/Montserrat-Bold.otf");
}

html {
  /* This PNG is made by Tomislava Babić and taken from:
   * https://www.toptal.com/designers/subtlepatterns/?s=hip+square */
  background: url(../vendor/subtlepatterns/hip-square.png);
}

body, button, input, select, textarea {
  font-family: 'Montserrat';
}

.content.is-jess-core-value {
  margin-bottom: 0.75rem;
}

.jess-highlight-yellow {
  background-color: rgba(243, 222, 135, 0.80);
}

.jess-highlight-blue {
  background-color: rgba(90, 201, 238, 0.5);
}

.jess-highlight-pink {
  background-color: rgba(231, 90, 238, 0.5);
}

.section.is-jess-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background: inherit;
}

.section.is-jess-header h1 a {
  color: inherit;
}

.column.is-jess-project {
  margin-top: 1em;
}

.column.is-jess-project h2 {
  margin-top: 1rem;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 400;
}

.is-jess-as-featured-in {
  margin-top: 2em;
  color: gray;
  text-transform: uppercase;
  font-size: 0.66em;
  letter-spacing: 4px;
}

.is-jess-as-featured-in em {
  display: block;
  letter-spacing: 0;
  font-style: normal;
  text-transform: none;
}

.column.is-jess-project h2 a {
  color: inherit;
}

.content.is-jess-lowercase p {
  text-transform: lowercase;
}

footer.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background: inherit;
}

footer.footer a.icon img {
  opacity: 0.5;
  transition: opacity 0.25s;
}

footer.footer a.icon:hover img,
footer.footer a.icon:focus img {
  opacity: 1.0;
}

footer.footer a.icon {
  margin-right: 1rem;
}

footer.footer a.icon:last-child {
  margin-right: 0;
}

.content h2 {
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

strong {
  font-weight: 600;
}
