{{ partial "header" . }}

{{ $cols := 3 }}

{{ $pages := sort .Pages }}

{{ range $i, $page := $pages }}
  {{ $isLast := (eq $i (sub (len $pages) 1)) }}
  {{ if modBool $i $cols }}<div class="columns">{{ end }}
    <div class="column">
      {{/* We're hiding the thumbnail from screen readers because
         * it's largely decorative in this context, and just adds
         * duplicate links that could confuse the reader too. */}}
      <a href="{{ $page.Permalink }}" aria-hidden="true">
        <img src="/img/project/{{ .Source.BaseFileName }}/_featured.png"
             alt="">
      </a>
      <a href="{{ $page.Permalink }}">{{ .Title }}</a>
      supports <strong>{{ .Params.core_value }}</strong>
      and is featured in <em>{{ .Params.featured_in.title }}</em>.
    </div>
  {{ if or (modBool (add $i 1) $cols) $isLast }}</div>{{ end }}
{{ end }}

{{ partial "footer" . }}
