{{ partial "header" . }}

<div class="content has-text-centered is-jess-lowercase">
  <p>Good design should support <span data-jess-highlight="jess-highlight-{{ .Params.highlight_color }}">{{ .Params.core_value }}</span></p>
  <h2>{{ .Title }}</h2>
  <br>
  {{ range .Params.links }}
  <a class="button" href="{{ .url }}" target="_blank">{{ .title }}</a>
  {{ end }}
</div>

<img src="/project/{{ .Source.BaseFileName }}/_featured.png"
     alt="{{ .Params.featured_img_alt_text }}">

<div class="content">

<blockquote>&ldquo;{{ .Params.quote }}&rdquo;</blockquote>

{{ .Content }}

</div>

{{ partial "footer" . }}
