  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a class="icon" href="#"><img src="/vendor/simple-icons/twitter.svg" alt="Twitter"></a>
        <a class="icon" href="#"><img src="/vendor/simple-icons/instagram.svg" alt="Instagram"></a>
        <a class="icon" href="#"><img src="/vendor/simple-icons/linkedin.svg" alt="LinkedIn"></a>
        <a class="icon" href="#"><img src="/vendor/simple-icons/github.svg" alt="GitHub"></a>
      </p>
    </div>
  </div>
</footer>
</html>
