{{ partial "header" . }}

<div class="content has-text-centered is-jess-lowercase">
  <h2>{{ .Title }}</h2>
  <br>
</div>

<div class="content">

{{ .Content }}

<p>
  <small>
  {{ range .Params.tags }}
    #{{ . }}
  {{ end }}
  </small>
</p>

{{ $nofolding_needed_pdf := (printf "/zines/%s/fold.pdf" .File.BaseFileName )}}
{{ if fileExists $nofolding_needed_pdf }}
<p><a href="nofold.pdf">No-folding-needed version (PDF)</a></p>
{{ end }}

{{ $folding_needed_pdf := (printf "/zines/%s/fold.pdf" .File.BaseFileName )}}
{{ if fileExists $folding_needed_pdf }}
<p><a href="{{ $folding_needed_pdf }}">Folding-needed version (PDF)</a></p>
<p><small><a href="https://www.youtube.com/watch?v=Ixqr9e3wCxI&t=6s" target="_blank">How to fold it </a></small></p>
{{ end }}

<div class="content has-text-centered">
  <a href="..">Back</a>
</div>
  
</div>

{{ partial "footer" . }}
